.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flex-row-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#side-bar {
    padding: 20px 0px 20px 0px;
    height: 100dvh;
    width: 250px;
    background-color: var(--surface-color-1);
    position: fixed;
    overflow-x: hidden;
    z-index: 100;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 8px 0px var(--shadow-color);
    transition: width 0.5s;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    margin-left: 250px;
    transition: margin-left 0.5s;
    padding: 16px 30px 16px 30px;
}

@media (max-width: 1024px) {
    #side-bar {
        width: 200px;
        max-width: 200px;
    }

    .aside-content {
        width: 200px;
    }

    .content {
        margin-left: 200px;
    }

    #logo-title .logo {
        width: 40px;
        height: 40px;
    }

    #logo-title h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .grid-3 > :nth-child(3) {
        grid-column: 1 / -1;
    }
}

@media (max-width: 524px) {
    .grid-3 {
        grid-template-columns: 1fr;
    }
}