* {
    /* Blue */
    --primary-hue: 205;
    --primary-saturation: 100%;
    --primary-lightness: 50%;

    /* Light Mode */
    --primary-light: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
    --text-title-color-light: hsl(var(--primary-hue), var(--primary-saturation), 10%);
    --text-body-color-light:  hsl(var(--primary-hue), var(--primary-saturation), 18%);
    --text-muted-color-light: hsl(var(--primary-hue), 25%, 45%);
    --surface-color-1-light:  hsl(var(--primary-hue), var(--primary-saturation), 100%);
    --surface-color-2-light:  hsl(var(--primary-hue), 20%, 95%);
    --surface-primary-color-light: hsl(var(--primary-hue), 100%, 90%);
    --shadow-color-light: hsl(var(--primary-hue), 100%, 20% , 0.2);

    /* Dark Mode */
    --primary-dark: hsl(var(--primary-hue), calc(var(--primary-saturation) / 2), calc(var(--primary-lightness) / 1));
    --text-title-color-dark: hsl(var(--primary-hue) 15% 85%);
    --text-body-color-dark:  hsl(var(--primary-hue) 10% 80%);
    --text-muted-color-dark: hsl(var(--primary-hue) 10% 55%);
    --surface-color-1-dark:  hsl(var(--primary-hue) 10% 10%);
    --surface-color-2-dark:  hsl(var(--primary-hue) 10% 15%);
    --surface-primary-color-dark: hsl(var(--primary-hue) 100% 10%);
    --shadow-color-dark: var(--primary-hue) 50% 3%;
}

:root {
    color-scheme: light;
    
    --primary: var(--primary-light);
    --text-title-color: var(--text-title-color-light);
    --text-body-color: var(--text-body-color-light);
    --text-muted-color: var(--text-muted-color-light);
    --surface-color-1: var(--surface-color-1-light);
    --surface-color-2: var(--surface-color-2-light);
    --surface-primary-color: var(--surface-primary-color-light);
    --shadow-color: var(--shadow-color-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        
        --primary: var(--primary-dark);
        --text-title-color: var(--text-title-color-dark);
        --text-body-color: var(--text-body-color-dark);
        --text-muted-color: var(--text-muted-color-dark);
        --surface-color-1: var(--surface-color-1-dark);
        --surface-color-2: var(--surface-color-2-dark);
        --surface-primary-color: var(--surface-primary-color-dark);
        --shadow-color: var(--shadow-color-dark);
    }
}

[color-scheme="light"] {
    color-scheme: light;

    --primary: var(--primary-light);
    --text-title-color: var(--text-title-color-light);
    --text-body-color: var(--text-body-color-light);
    --text-muted-color: var(--text-muted-color-light);
    --surface-color-1: var(--surface-color-1-light);
    --surface-color-2: var(--surface-color-2-light);
    --surface-primary-color: var(--surface-primary-color-light);
    --shadow-color: var(--shadow-color-light);
}

[color-scheme="dark"] {
    color-scheme: dark;

    --primary: var(--primary-dark);
    --text-title-color: var(--text-title-color-dark);
    --text-body-color: var(--text-body-color-dark);
    --text-muted-color: var(--text-muted-color-dark);
    --surface-color-1: var(--surface-color-1-dark);
    --surface-color-2: var(--surface-color-2-dark);
    --surface-primary-color: var(--surface-primary-color-dark);
    --shadow-color: var(--shadow-color-dark);
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/font/Kanit/Kanit-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/font/Kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/font/Kanit/Kanit-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/font/Kanit/Kanit-Bold.ttf') format('truetype');
    font-weight: 600; /* Bold */
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    block-size: 100%;
    background-color: var(--surface-color-2);
    color: var(--text-body-color);
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-title-color);
    font-weight: 500;
    margin: 0;
    font-size: 1rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-base {
    font-size: 1rem;
}

.text-md {
    font-size: 1.125rem;
}

.text-lg {
    font-size: 1.25rem;
}

.text-xl {
    font-size: 1.6rem;
}

a {
    color: var(--text-body-color);
    text-decoration: none;
}

/* STYLES */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 10px;
}

.box-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
}

.aside-content {
    width: 250px;
}

.nav-menu {
    padding-top: 20px;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-menu a {
    border-radius: 10px;
    color: var(--text-muted-color);
    font-weight: 400;
    font-size: 1.1rem;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    transition: 0.2s ease-in-out;
}

.nav-menu a:hover {
    color: var(--text-body-color);
    background-color: var(--surface-color-1);
    box-shadow: 0px 3px 6px 0px var(--shadow-color);
}

.nav-menu a i {
    width: 28px;
}

.side-bar-footer {
    width: 250px;
    border-top: 1px solid var(--surface-color-2);
}

.avatar {
    min-width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.105);
    overflow: hidden;
    object-fit: cover;
}

.box {
    padding: 20px;
    background-color: var(--surface-color-1);
    border-radius: 15px;
}

input[type="text"]{
    background-color: var(--surface-color-1);
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.105);
    margin: 10px 0px 10px 0px;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.side-bar-switch {
    font-size: 1.6rem;
    color: var(--text-body-color);
    margin-right: 10px;
}

.side-bar-switch:hover {
    color: var(--text-muted-color);
}