* {
    /* Blue */
    --primary-hue: 200;
    --primary-saturation: 100%;
    --primary-lightness: 50%;

    /* Light Mode */
    --primary-light: hsl(var(--primary-hue), var(--primary-saturation), var(--brand-lightness));
    --text-title-color-light: hsl(var(--primary-hue), var(--primary-saturation), 10%);
    --text-body-color-light:  hsl(var(--primary-hue), var(--primary-saturation), 10%);
    --text-muted-color-light: hsl(var(--primary-hue), var(--primary-saturation), 30%);
    --surface-color-1-light:  hsl(var(--primary-hue), 20%, 95%);
    --surface-color-2-light:  hsl(var(--primary-hue), 20%, 95%);
    --surface-primary-color-light: hsl(var(--primary-hue), 100%, 90%);
    --shadow-color-light: var(--primary-hue) 10% 20%;

    /* Dark Mode */
    --primary-dark: hsl(var(--primary-hue), calc(var(--primary-saturation) / 2), calc(var(--primary-lightness) / 1.5));
    --text-title-color-dark: hsl(var(--primary-hue) 15% 85%);
    --text-body-color-dark:  hsl(var(--primary-hue) 10% 80%);
    --text-muted-color-dark: hsl(var(--primary-hue) 5% 45%);
    --surface-color-1-dark:  hsl(var(--primary-hue) 10% 10%);
    --surface-color-2-dark:  hsl(var(--primary-hue) 10% 15%);
    --surface-primary-color-dark: hsl(var(--primary-hue) 100% 10%);
    --shadow-color-dark: var(--primary-hue) 50% 3%;
}

:root {
    color-scheme: light;
    
    --primary: var(--primary-light);
    --text-title-color: var(--text-title-color-light);
    --text-body-color: var(--text-body-color-light);
    --text-muted-color: var(--text-muted-color-light);
    --surface-color-1: var(--surface-color-1-light);
    --surface-color-2: var(--surface-color-2-light);
    --surface-primary-color: var(--surface-primary-color-light);
    --shadow-color: var(--shadow-color-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        
        --primary: var(--primary-dark);
        --text-title-color: var(--text-title-color-dark);
        --text-body-color: var(--text-body-color-dark);
        --text-muted-color: var(--text-muted-color-dark);
        --surface-color-1: var(--surface-color-1-dark);
        --surface-color-2: var(--surface-color-2-dark);
        --surface-primary-color: var(--surface-primary-color-dark);
        --shadow-color: var(--shadow-color-dark);
    }
}

[color-scheme="light"] {
    color-scheme: light;

    --primary: var(--primary-light);
    --text-title-color: var(--text-title-color-light);
    --text-body-color: var(--text-body-color-light);
    --text-muted-color: var(--text-muted-color-light);
    --surface-color-1: var(--surface-color-1-light);
    --surface-color-2: var(--surface-color-2-light);
    --surface-primary-color: var(--surface-primary-color-light);
    --shadow-color: var(--shadow-color-light);
}

[color-scheme="dark"] {
    color-scheme: dark;

    --primary: var(--primary-dark);
    --text-title-color: var(--text-title-color-dark);
    --text-body-color: var(--text-body-color-dark);
    --text-muted-color: var(--text-muted-color-dark);
    --surface-color-1: var(--surface-color-1-dark);
    --surface-color-2: var(--surface-color-2-dark);
    --surface-primary-color: var(--surface-primary-color-dark);
    --shadow-color: var(--shadow-color-dark);
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/font/Kanit/Kanit-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/font/Kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/font/Kanit/Kanit-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../assets/font/Kanit/Kanit-Bold.ttf') format('truetype');
    font-weight: 600; /* Bold */
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    block-size: 100%;
    background-color: var(--surface-color-1);
    color: var(--text-body-color);
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}